# ========= IDE =========
.idea/
.vscode/

# ========= Python =========
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

# ========= Environment / Secrets =========
.env
.env.*
config.local.py
local_settings.py

# ========= Security =========
*.key
*.pem
*.crt
*.p12

# ========= Database / Data =========
*.sqlite3
*.db

# ========= Logs / Cache =========
*.log
.cache/
